// Palette de couleurs
$color-light-blue: #f1f8fc;
$color-blue: #0074c7;
$color-dark-blue: #00497c;
$color-dark-grey: #384050;
$color-red: #cd2c2e;
$color-green: #82b864;

// Exemples d'utilisation
$body-bg: $color-light-blue;
$primary: $color-blue;
