@import "variables";

.site-header {
  .navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .header-logo {
    height: 160px;
  }

  .site-title {
    color: $color-dark-blue;
    font-size: 1.1rem;
  }

  .nav-link {
    font-weight: 500;
    color: $color-dark-grey;

    &.active {
      color: $color-blue;
      border-bottom: 2px solid $color-blue;
    }

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .header-search {
    .form-control {
      border-radius: 999px;
    }

    .btn {
      border-radius: 999px;
      font-weight: 500;
      background-color: $color-blue;
      border-color: $color-blue;

      &:hover {
        background-color: $color-dark-blue;
        border-color: $color-dark-blue;
      }
    }
  }
}
