// src/styles/notfound.scss
.notfound-wrapper {
    min-height: 70vh;
    padding: 1.5rem;
    text-align: center;
  }
  
  .notfound-image-wrapper {
    max-width: 320px;
  }
  
  .notfound-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  